{% extends "base.html" %}
{% block content %}
<div id="cnt" class="container-fluid d1 img_anim">
    <h1 class="well well-lg">Contact</h1>
  <div class="row">
      <div class="col-sm-4">          
          <h3><strong>bla bla</strong><br>
<span class="glyphicon  glyphicon-map-marker sm-icon"></span> Old Dhamtari Road, Raipur, Chhattisgarh - 492015<br>
<span class="glyphicon glyphicon-phone sm-icon"></span>  +91 771 xxxxxx<br>
<span class="glyphicon glyphicon-envelope sm-icon"></span>  info@blat.com<br>
<span class="glyphicon glyphicon-globe sm-icon"></span>  www.blabla.com</h3>
      </div>
      <div class="col-sm-8 maps">          
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3718.926020846451!2d81.63938194414672!3d21.23478198743025!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ed6532a6f04f63c!2sEffCon+Technologies!5e0!3m2!1sen!2sin!4v1475245528206" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    
      </div>
  </div>
</div>

{% endblock %}

